
.swal2-confirm,
.swal2-cancel {
  color: black !important;
  font-family: "Circular" !important;
  font-size: 17px !important;
  border-radius: 9999px !important;
}

.swal2-title {
  font-size: 25px;
}
