@using Service.ViewModels.SongVMs
@model SongEditVM


<div class="x_content container">
    <div class="col-md-9 col-sm-9 center-margin ">
        <a asp-action="Index" asp-area="Admin" asp-controller="Song" style="margin-left:70px;">
            <i class="fa-solid fa-right-from-bracket fa-rotate-180 fa-2xl " style="color:#121212;"></i>
        </a>
        <form class="forms-sample " method="post" style="margin-left:100px;" enctype="multipart/form-data">
            <img src="~/assets/images/@Model.ImageUrl" width="250px;" height="240px;" />
            <input type="hidden" asp-for="@Model.ImageUrl" />
            <span class="text-danger mt-2" asp-validation-for="Photo"></span>
            <div style="display:flex;gap:200px">
                <div>

                    <div class="form-group mt-4">
                        <label style="color:#121212">Name</label>
                        <input asp-for="Name" class="form-control" placeholder="Add Name...">
                        <span class="text-danger mt-2" asp-validation-for="Name"></span>
                    </div>

                    <div class="form-group mt-3">
                        <label style="color:#121212;border-radius:50%">Color</label>
                        <input type="color" asp-for="Color" class="form-control">
                        <span class="text-danger mt-2" asp-validation-for="Color"></span>
                    </div>

                    <div class="field item form-group mt-3 ">
                        <label style="color:#121212;">Category:@Model.Category.Name</label>
                        <div style="width:100%">
                            <select class="form-control text-black mt-3" asp-for="CategoryId" asp-items="@ViewBag.Category">
                            </select>
                            <span class="text-danger mt-2" asp-validation-for="CategoryId"></span>
                        </div>
                    </div>
                    <div class="field item form-group mt-3">
                        <label  style="color:#121212">Album:@Model.Album.Name</label>
                        <div style ="width:100%">
                            <select class="form-control text-black" asp-for="AlbumId" asp-items="@ViewBag.Albums">
                            </select>
                            <span class="text-danger mt-2" asp-validation-for="AlbumId"></span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="field item form-group mt-4">
                        <label style="color:#121212">Artist</label>

                        <div style="width:100%">
                            <select class="form-control text-black mt-3" asp-for="ArtistsIds" asp-items="@ViewBag.Artists">
                            </select>
                            <span class="text-danger mt-2" asp-validation-for="ArtistsIds"></span>
                        </div>
                    </div>
                    <div class="form-group" style="width:100%">
                        <label style="color:#121212">Photo</label>
                        <input asp-for="Photo" class="form-control" placeholder="Add Photo...">
                        <span class="text-danger mt-2" asp-validation-for="Photo"></span>
                    </div>
                    <div class="form-group" style="width:100%">
                        <label asp-for="CreateDate" style="color:black">Date</label>
                        <input asp-for="CreateDate" class="form-control" placeholder="date">
                        <span class="text-danger" asp-validation-for="CreateDate"></span>
                    </div>
                    <div class="form-group mt-3" style="width:100%">
                        <label style="color:#121212">Song</label>
                        <input asp-for="Audio" class="form-control" placeholder="Add Audio...">
                        <span class="text-danger mt-2" asp-validation-for="Audio"></span>
                    </div>
                </div>
            </div>
          

            <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
            <a class="btn btn-light" asp-area="Admin" asp-controller="Song" asp-action="Index">Back</a>
        </form>
    </div>
</div>
<script src="https://kit.fontawesome.com/680cf1a7ac.js" crossorigin="anonymous"></script>
@* @section Scripts {
    <partial name="_ValidationPartial"></partial>
}
<script src="~/assets/js/Validation.js"></script> *@
