@using Service.ViewModels.Category
@model CategoryEditVM

<div class="x_content container ">
    <div class="col-md-9 col-sm-9 center-margin mt-3">
        <a asp-action="Index" asp-area="Admin" asp-controller="Category" style="margin-left:100px;">
            <i class="fa-solid fa-right-from-bracket fa-rotate-180 fa-2xl " style="color:#121212;"></i>
        </a>
        <form class="forms-sample mt-5" method="post" style="margin-left:100px;" enctype="multipart/form-data">
            <img src="~/assets/images/@Model.ImageUrl" width="200px;" height="200px;" />

            <div class="form-group">
                <label>@Model.Name</label>
                <input asp-for="Name" class="form-control" placeholder="Add Name...">
                <span class="text-danger mt-2" asp-validation-for="Name"></span>
            </div>5
            <div class="form-group">
                <label>@Model.Color</label>
                <input asp-for="Color" class="form-control" type="color" style="width: 20%;">
                <span class="text-danger mt-2" asp-validation-for="Color"></span>
            </div>
            <div class="form-group">
                <label>@Model.Photo</label>
                <input asp-for="Photo" class="form-control" placeholder="Add Photo...">
                <span class="text-danger mt-2" asp-validation-for="Photo"></span>
            </div>
            <input asp-for="ImageUrl" hidden />
            <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
            <a class="btn btn-light" asp-area="Admin" asp-controller="Category" asp-action="Index">Back</a>
        </form>
    </div>
</div>
<script src="https://kit.fontawesome.com/680cf1a7ac.js" crossorigin="anonymous"></script>