<section id="music-player">
    <div class="content">
        <div class="player-song">
            <div class="images">
                <a href=""><img src="~/assets/images/DefaultMusic.png" alt="song-img"></a>
            </div>
            <div class="song-info">
                <a id="song-name" href="#"><span>Music name</span></a>
                <div class="artist-name">
                    <a href="#"><span>Artist</span></a>
                </div>
            </div>
        </div>
        <div class="player-control">
            <audio id="audio" src=""></audio>
            <div class="first-side">
                <div class="left-side">
                    <button id="random"><i class="fa-solid fa-shuffle"></i></button>
                    <button style="font-size: 25px;" id="backward-step">
                        <i class="fa-solid fa-backward-step"></i>
                    </button>
                </div>
                <button class="play" id="play-pause">
                    <i id="play-icon" class="fa-solid fa-play"></i>
                    <i id="pause-icon" class="fa-solid fa-pause" style="display: none;"></i>
                </button>
                <div class="right-side">
                    <button style="font-size: 25px;" id="forward-step">
                        <i class="fa-solid fa-forward-step"></i>
                    </button>
                    <button id="repeat"><i class="fa-solid fa-repeat"></i></button>
                </div>
            </div>
            <div class="second-side">
                <span id="current-time">00:00</span>
                <div id="playback-progressbar">
                    <div class="progress"></div>
                </div>
                <span id="duration">00:00</span>
            </div>
        </div>
        <div class="control-buttons">
            <i class="fa-solid fa-volume-low"></i>
            <input type="range" id="volume" style="height: 4px;" min="0" max="1" step="0.1" value="1">
        </div>
    </div>
</section>
<div class="mobile-playercontroller">
    <div class="content" style="background-color:#3d3c3c">
        <div class="left-side">
            <div class="mobile-images">
                <a href="#"><img src="~/assets/images/DefaultMusic.png" alt="song-img"></a>
            </div>
            <div class="mobile-song-info">
                <a id="mobile-song-name" href="#"><span>Music </span></a>
                <div class="mobile-artist-name">
                    <a href="#"><span>Artist</span></a>
                </div>
            </div>
        </div>
        <div class="right-side">
            <button class="play" id="play-pause-responsive">
                <i id="play-icon" class="fa-solid fa-play"></i>
                <i id="pause-icon" class="fa-solid fa-pause" style="display: none;"></i>
            </button>
        </div>
    </div>
</div>