
<section id="navbar-mobile">
    <div class="content">
        <div class="left-side">
            <p>Recently played</p>
        </div>
        <div class="right-side">
            <a href="#">
                <button id="signUp">Sign up</button>
            </a>
            <a href="#">
                <button id="signIn">Log in</button>
            </a>
            <!-- <a href="#">
                <button id="notification"><i class="fa-regular fa-bell"></i></button>
            </a>

            <a href="#">
                <button id="setting"><i class="fa-solid fa-gear"></i></button>
            </a> -->
        </div>
        <div class="setting-menu">
           <a href="#">
                <span>View Account</span>
                <i class="fa-solid fa-arrow-trend-up"></i>
            </a> 
            <a href="#">Profile</a>
            <button id="logout"><span>Log Out</span></button>
        </div>
    </div>
</section>
<section id="cards-area" >
    <div class="content" style="width:100% !important;">
        <div class="throwback">
            <h2><a href="#">Recently played</a></h2>
            <a href="#">Show all</a>
        </div>
        <div  class="main-cards">
            <div class="card-container">
                <div class="card">
                    <img src="../../assets/images/liked-songs-300.png" alt="">
                    <h3>Liked Songs</h3>
                    <p><span>1 </span>song</p>

                    <button class="play">
                        <i id="play-icon" class="fa-solid fa-play"></i>
                        <i id="pause-icon" class="fa-solid fa-pause" style="display: none;"></i>
                    </button>

                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    <img src="../../assets/images/Rock.jpg" alt="">
                    <h3>Rock Classics</h3>
                    <p>Lorem ipsum dolor, sit amet consecte...</p>

                    <button class="play">
                        <i id="play-icon" class="fa-solid fa-play"></i>
                        <i id="pause-icon" class="fa-solid fa-pause" style="display: none;"></i>
                    </button>
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    <img src="../../assets/images/Hip-Hop.jpg" alt="">
                    <h3>I Love My '90s Hip-Hop</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur</p>
                    <button class="play">
                        <i id="play-icon" class="fa-solid fa-play"></i>
                        <i id="pause-icon" class="fa-solid fa-pause" style="display: none;"></i>
                    </button>
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    <img src="../../assets/images/Piano.jpg" alt="">
                    <h3>Peaceful Piano</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur</p>
                    <button class="play">
                        <i id="play-icon" class="fa-solid fa-play"></i>
                        <i id="pause-icon" class="fa-solid fa-pause" style="display: none;"></i>
                    </button>
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    <img src="../../assets/images/ViralHits.jpg" alt="">
                    <h3>Viral Hits</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur</p>
                    <button class="play">
                        <i id="play-icon" class="fa-solid fa-play"></i>
                        <i id="pause-icon" class="fa-solid fa-pause" style="display: none;"></i>
                    </button>
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    <img src="../../assets/images/ViralHits.jpg" alt="">
                    <h3>Viral Hits</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur</p>
                    <button class="play">
                        <i id="play-icon" class="fa-solid fa-play"></i>
                        <i id="pause-icon" class="fa-solid fa-pause" style="display: none;"></i>
                    </button>
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    <img src="../../assets/images/ViralHits.jpg" alt="">
                    <h3>Viral Hits</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur</p>
                    <button class="play">
                        <i id="play-icon" class="fa-solid fa-play"></i>
                        <i id="pause-icon" class="fa-solid fa-pause" style="display: none;"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
