@using Service.ViewModels.ArtistVMs
@model ArtistEditVM

<div class="x_content container ">
    <div class="col-md-9 col-sm-9 center-margin ">
        <a asp-action="Index" asp-area="Admin" asp-controller="Artist" style="margin-left:70px;">
            <i class="fa-solid fa-right-from-bracket fa-rotate-180 fa-2xl " style="color:#121212;"></i>
        </a>
        <form class="forms-sample mt-3" method="post" style="margin-left:100px;" enctype="multipart/form-data">
            <img src="~/assets/images/@Model.ImageUrl" width="200px;" height="200px;" />
            <input type="hidden" asp-for="@Model.ImageUrl" />
            <span class="text-danger mt-2" asp-validation-for="Photo"></span>

            <div class="form-group">
                <label style="color:#121212">Name</label>
                <input asp-for="FullName" class="form-control" placeholder="Add Name...">
                <span class="text-danger mt-2" asp-validation-for="FullName"></span>
            </div>

            <div class="form-group">
                <label style="color:#121212">About</label>
                <input asp-for="AboutImg" class="form-control" placeholder="Add about...">
                <span class="text-danger mt-2" asp-validation-for="AboutImg"></span>
            </div>
            <div class="field item form-group">
                <label class="col-form-label col-md-3 col-sm-3  label-align" style="color:#121212">Positions:@Model.Position</label>
                <div class="col-md-6 col-sm-6">

                    <select class="form-control text-black" asp-for="PositionIds" asp-items="@ViewBag.Positions">
                    </select>
                    <span class="text-danger mt-2" asp-validation-for="PositionIds"></span>
                    @* @string.Join(", ", Model.ArtistFullName.Select(m => m.Artist.FullName)) *@
                </div>
            </div>
            <div class="field item form-group">
                <label class="col-form-label col-md-3 col-sm-3  label-align" style="color:#121212">Artist:@Model.Song</label>
                <div class="col-md-6 col-sm-6">

                    <select class="form-control text-black mt-3" asp-for="SongIds" asp-items="@ViewBag.Songs">
                    </select>
                    <span class="text-danger mt-2" asp-validation-for="SongIds"></span>

                </div>
            </div>
            <div class="form-group">
                <label style="color:#121212">Photo</label>
                <input asp-for="Photo" class="form-control" >
                <span class="text-danger mt-2" asp-validation-for="Photo"></span>
            </div>
     
            <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
            <a class="btn btn-light" asp-area="Admin" asp-controller="Artist" asp-action="Index">Back</a>
        </form>
    </div>
</div>
<script src="https://kit.fontawesome.com/680cf1a7ac.js" crossorigin="anonymous"></script>