

<section id="sidebar-section">
    <div class="content">
        <div class="sidebar-navarea">
            <ul id="menu">
                <li>
                    <i class="fa-solid fa-house"></i>
                    <a href="#">Home</a>
                </li>
                <li>
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <a href="#">Search</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="sidebar-mainarea">
        <div class="main">
            <div class="library">
                <div class="own-library">
                    <i class="fa-solid fa-layer-group"></i>
                    <span>Your Library</span>
                </div>
                <div class="right-side">
                    <button><i class="fa-solid fa-plus"></i></button>
                    <button id="arrow"><i class="fa-solid fa-arrow-right"></i></button>
                </div>
            </div>
            <div class="create-side">
                <div class="content">
                    <!-- <div class="sidebar-playlist-cards">
                        <div class="card">
                            <div class="left-side">
                                <i class="fa-solid fa-music"></i>
                            </div>
                            <div class="right-side">
                                <p class="playlist-name">My Playlist <span>#1</span></p>
                                <p>Playlist <span>Leman</span></p>
                            </div>
                        </div>
                    </div> -->
                    <div class="create-playlist">
                        <div class="paragraphy">
                            <p>Create your first playlist</p>
                            <p>It's easy, we'll help you</p>
                        </div>
                        <a><span>Create playlist</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="mobile-sidebar">
    <div class="content">
        <div class="nav">
            <div id="homeicon-mobile">
                <i class="fa-solid fa-house"></i>
                <a href="#">Home</a>
            </div>
            <div id="searchicon-mobile">
                <i class="fa-solid fa-magnifying-glass"></i>
                <a href="#">Search</a>
            </div>
        </div>
    </div>
</section>