@model SidebarVM
<section id="sidebar-section">
    <div class="content">
        <div class="sidebar-navarea">
            <ul id="menu">
                <li>
                    <i class="fa-solid fa-house"></i>
                    <a asp-action="Index" asp-controller="Home">Home</a>
                </li>
                <li>
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <a asp-action="Index" asp-controller="Search">Search</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="sidebar-mainarea">
        <div class="main">
            @if (!User.Identity.IsAuthenticated)
            {
                <a style="text-decoration:none" asp-action="login" asp-controller="account">
                    <div class="library">

                        <div class="own-library">
                            <i class="fa-solid fa-layer-group"></i>
                            <span>Your Library</span>
                        </div>
                        <div class="right-side">
                            <button><i class="fa-solid fa-plus"></i></button>
                            <button id="arrow"><i class="fa-solid fa-arrow-right"></i></button>
                        </div>
                    </div>
                </a>
            }

     
            <div class="create-side">
                <div class="content">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a style="text-decoration:none" asp-controller="LikedSong" asp-action="Index">
                            <div class="sidebar-playlist-cards">
                                <div class="card">
                                    <div class="left-side">
                                        <img src="~/assets/images/liked-songs-300.png" alt="Liked Songs">
                                    </div>
                                    <div class="right-side">
                                        <p class="playlist-name">Liked Songs</p>
                                        <p>Playlist - <span class="song_count">@Model.SongCount</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                        @if (Model.Playlists != null && Model.Playlists.Any())
                        {
                            @foreach (var item in Model.Playlists)
                            {
                                <a style="text-decoration:none" asp-controller="Playlist" asp-action="Detail" asp-route-id="@item.Id">
                                    <div class="sidebar-playlist-cards">
                                        <div class="card">
                                            <div class="left-side">
                                                <img src="~/assets/images/@item.AppUser.ImageUrl" alt="Playlist Image">
                                            </div>
                                            <div class="right-side">
                                                <p class="playlist-name">@item.Name</p>
                                                <p>Playlist by <span class="song_count">@item.AppUser.Fullname</span></p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            }
                        }
                        
                    }
                    else
                    {
                        <p style="color:white">Please log in to see your playlists.</p>
                    }
                        <div class="create-playlist">
                        <div class="paragraphy">
                            <p>Create your first playlist</p>
                            <p>It's easy, we'll help you</p>
                        </div>
                        <a style="text-decoration:none;color:black" asp-controller="Playlist" asp-action="Index"><span>Create playlist</span></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="mobile-sidebar">
    <div class="content">
        <div class="nav">
            <div id="homeicon-mobile">
                <i class="fa-solid fa-house"></i>
                <a href="#">Home</a>
            </div>
            <div id="searchicon-mobile">
                <i class="fa-solid fa-magnifying-glass"></i>
                <a href="#">Search</a>
            </div>
        </div>
    </div>
</section>