@using Service.ViewModels.PositionVMs
@model PositionEditVM

<div class="x_content container ">
    <div class="col-md-9 col-sm-9 center-margin mt-3">
        <a asp-action="Index" asp-area="Admin" asp-controller="Position" style="margin-left:100px;">
            <i class="fa-solid fa-right-from-bracket fa-rotate-180 fa-2xl " style="color:#121212;"></i>
        </a>
        <form class="forms-sample mt-5" method="post" style="margin-left:100px;" enctype="multipart/form-data">
            

            <div class="form-group">
                <labelstyle ="color:#121212">Name</labelstyle>
                <input asp-for="Name" class="form-control" placeholder="Add Name...">
                <span class="text-danger mt-2" asp-validation-for="Name"></span>
            </div>
            <div class="field item form-group">

                <label class="col-form-label col-md-3 col-sm-3  label-align" style="color:#121212">Artist:@string.Join(", ", Model.ArtistIds)</label>
                <div class="col-md-6 col-sm-6">

                    <select class="form-control text-black mt-3" asp-for="ArtistIds" asp-items="@ViewBag.Artists">
                    </select>
                    <span class="text-danger mt-2" asp-validation-for="ArtistIds"></span>

                </div>
            </div>
            <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
            <a class="btn btn-light" asp-area="Admin" asp-controller="Position" asp-action="Index">Back</a>
        </form>
    </div>
</div>
<script src="https://kit.fontawesome.com/680cf1a7ac.js" crossorigin="anonymous"></script>