@using Service.ViewModels.PositionVMs
@model List<PositionListVM>

@{
    Layout = "_Layout";
}

<div class="table-responsive container ">
    <div class="col-md-9 col-sm-9 center-margin mt-3">
        <a asp-action="Create" asp-area="Admin" asp-controller="Position" style="margin-left:100px;">
            <i class="fa-solid fa-square-plus fa-xl" style="color: #121212;font-size:30px;"></i>

        </a>
        <table class="table table-striped jambo_table bulk_action mt-3" style="margin-left:100px;">
            <thead style="background-color:#121212;">
                <tr class="headings">
                    <th class="column-title">Name </th>
                    <th class="column-title">Artists </th>
                    <th class="column-title">Operations </th>
                </tr>
            </thead>

            <tbody>

                @foreach (var item in Model)
                {
                    <tr class="even pointer">

                        <td class=" ">@item.Name</td>
                        <td class=" ">@string.Join(", ", item.ArtistPositions.Select(m => m.Artist.FullName))</td>
                        <td style=" display:flex; gap:30px;">
                            <a asp-area="Admin" asp-controller="Position" asp-route-id=@item.Id asp-action="Detail"><i class="fa-solid fa-circle-info fa-xl" style="color: #121212;"></i></a>
                            <a asp-area="Admin" asp-controller="Position" asp-route-id=@item.Id asp-action="Edit"><i class="fa-solid fa-pen-to-square fa-xl" style="color: #121212;"></i></a>
                            <form asp-controller="Position" asp-route-id="@item.Id" asp-action="Delete" method="post" style="display:inline-block">
                                <button style="border: none; outline: none; background: none;">
                                    <i class="fa-solid fa-trash fa-xl" style="color: red;"></i>
                                </button>
                            </form>
                        </td>
                    </tr>

                }




            </tbody>
        </table>
        <div class="item form-group">
            <div class="" style="margin-left:100px;">
                <a asp-action="Index" asp-area="Admin" asp-controller="Dashboard">
                    <i class="fa-solid fa-right-from-bracket fa-rotate-180 fa-2xl" style="color:#121212;"></i>

                </a>
            </div>
        </div>
    </div>
</div>
<script src="https://kit.fontawesome.com/680cf1a7ac.js" crossorigin="anonymous"></script>